@page
@using ChartJSCore.Models
@using Microsoft.CodeAnalysis
@using Microsoft.EntityFrameworkCore.Storage.ValueConversion
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Weather Info</h1>
<table class="display" id="table_id">
    <thead>
    <tr>
    <th>City</th>
    <th>Temperature</th>
    <th>Humidity</th>
    <th>Pressure</th>
    <th>Description</th>    
    </thead>
    <tbody>
    @foreach (var weather in Model.Weathers)
    {
        <tr>
            <td>
                @weather.City
            </td>
            <td>@weather.Temperature</td>
            <td>@weather.Humidity</td>
            <td>@weather.Pressure</td>
            <td>@weather.Description</td>
        </tr>
    }
    </tbody>
</table>

<div>
    <canvas id="myChart" width="400" height="400"></canvas>
</div>
@{
    var chart = @Model.TempChart();
}
@section Scripts{ 
    <script>
        @Html.Raw(chart.CreateChartCode("myChart"));
    </script>
}



